@import "wdn_mixins/all";

// Google Webfonts
@import url(http://fonts.googleapis.com/css?family=Oswald:300,400,700);
@import "mixins";
@import "layouts";

// Breakpoint rules (follows WDN gridv3)
@bp1: ~"min-width: 480px";
@bp2: ~"min-width: 768px";
@bp3: ~"min-width: 960px";
@bp4: ~"min-width: 1040px";

@impactFont: Oswald, Helvetica, Arial, FreeSans, "Liberation Sans", "Nimbus Sans L", sans-serif;
// Add all base (screen width doesn't matter) here
 
 
// For all the media queries
/* 
*
* Drupal Overrides
*
*/
.block-views {
    padding: 0;
    box-shadow: none;
}
[class$='-decoration'] {
    display: none;
}

#maincontent {
    .baseText();

    ul, ol {
        &[class*="wdn-grid-set"] {
            padding-left: 0;
            list-style: none;
        }
    }

    .horizontal-separator {
        background: url(images/horizontal-separator.png) center bottom no-repeat;
        padding-bottom: 50px;
        margin-bottom: 10px;
    }

    .center, .wdn-center {
        text-align: center;
    }

    .summary {
        font-size: 1.6em;
        font-style: italic;
    }

    .button {
        @buttonColor: #2c6d94;
        color: #fff;
        font-size: 1em;
        background-color: @buttonColor;
        border-radius: 40px;
        .box-shadow(0, 3px, 0, fadeout(lighten(@buttonColor, 25%), 25%));
        color: #fff;
        padding: 10px 25px;
        line-height: 1.5;
        display: inline-block;
        text-align: center;
        .modernFont();

        &:hover {
            background-color: darken(@buttonColor, 5%);
            color: #fff;
        }

        &:after {
            display: none;
        }

        &.document {
            padding: 0 25px 0 45px;
            margin-top: 5em;
            background-image: url(images/document.svg);
            background-repeat: no-repeat;
            background-size: 20px;
            background-position: 20px 7px;
            line-height: 40px;
        }
        &.mini {
            font-size: 0.8em;
            line-height: 1;
            padding: 5px 10px;
            height: auto;
            display: inline-block;
        }

        &.width-control {
            max-width: 275px;
        }

        &.soothing {
            @color: #56b177;
            background-color: darken(@color, 10%);
            .box-shadow(0, 3px, 0, fadeout(darken(@color, 30%), 25%));

            &:hover {
                background-color: darken(@color, 15%);
            }
        }
    }

    .grouped-header {

        .sub-task {
            float: right;
        }
    }

    .small {
        font-size: 0.85em;
        line-height: 1.1em;
    }

    .bump-down { // Used to line up content in columns next to columns that begin with headings which have padding-top.
        margin-top: 25px;
    }

    figure {
        line-height: 0;
    }

    .ec-frame {
        background-color: #f3f1e6;
        padding: 3px;

        img {
            border-radius: 2px;
        }

        figcaption, .caption {
            line-height: 1.5em;
            font-style: italic;
            font-size: 0.75em;
            color: darken(#f3f1e6, 60%);
        }
    }

    .ec-heading {
        @color: #535353;
        @decoration-color: #2c6d94;
        color: @color;
        line-height: 1.2;
        margin: 0.5em 0;
        padding: 0.2em 0;

        span {
            display: block;
            text-transform: uppercase;
            font-weight: normal;
            font-size: 0.5em;
            .formalFont();
            text-shadow: none;

            &.heading-subhead {
                text-transform: none;
                font-size: 0.4em;
                font-weight: normal;
            }
        }

        &.flag {
            @color: #2c6d94;
            margin-bottom: 1em;
            background: @color;
            display: inline-block;
            color: #fff;
            margin-left: -12px;
            padding-left: 12px;
            padding-right: 12px;
            position: relative;
            text-shadow: 0px -1px 0px rgba(0,0,0,0.3);
            -webkit-box-shadow: inset 0px 1px 0px rgba(255,255,255,.3), inset 0px 0px 20px rgba(0,0,0,0.1), 0px 1px 1px rgba(0,0,0,0.4);
            box-shadow: inset 0px 1px 0px rgba(255,255,255,.3), inset 0px 0px 20px rgba(0,0,0,0.1), 0px 1px 1px rgba(0,0,0,0.4);

            span {
                color: fadeout(#fff, 15%);
            }

            &:before {
                content:"";
                bottom: -0.5em;
                position: absolute;
                display: block;
                border-style: solid;
                border-color: darken(@color, 25%) transparent transparent transparent;
                z-index: -1;
                right: 0;
                border-width: 0.5em 0.5em 0 0;
            }

            &:after {
                content: "";
                width: 0.2em;
                bottom: -0.5em;
                position: absolute;
                display: block;
                border: 0.9em solid darken(@color, 5%);
                .box-shadow(0px, 1px, 0px, rgba(0,0,0,0.4));
                z-index: -2;
                right: -1.35em;
                border-left-width: 0.75em;
                border-right-color: transparent;
            }
        }
    }

    .wdn-pull-quote {
        font-size: 1.6em;
        font-family: @impactFont;
        line-height: 1.5em;
        padding: 0 0 0 2.5em;
        quotes: "\201C" "\201D";
        position: relative;
        font-style: italic;
        font-weight: bold;
        margin-top: 75px;

        &:before {
            content: open-quote;
            font-size:400%;
            font-family: serif;
            position: absolute;
            top: 0.3em;
            left: 0;
            opacity: 0.2;
            font-style: normal;
        }

        &.soothing {
            @color: #56b177;
            background-color: fadeout(@color, 90%);
            padding: 1em;
            border-top: 10px solid #56b177;
            padding-top: 20px;
            padding-left: 2.5em;
        }
    }

    .student-story-teaser {

        .wdn-pull-quote {
            font-size: 1.3em;
            border-top: 0;
            padding-top: 0;
            margin-top: 25px;
            margin-bottom: 1em;
            background: transparent;
        }
    }
}

/* 
*
* Program Page Navigation
*
*/

#maincontent {
    @navColor: #a7cee5;

    #page-navigation {
        text-align: center;
        background: fadeout(lighten(@navColor, 15%), 5%);
        margin-top: 2em;
        margin-bottom: 2em;
        padding: 1em 0;
        top: 500px;
        z-index: 1;
    }

    #nav-bar-reference {
        padding: 0;
    }

    #slider-nav {
        list-style: none;
        padding: 0;
        .impactFont();
        font-size: 0.95em;

        li {
            display: inline-block;
            padding: 0 1.25em;
            text-transform: uppercase;
        }

        a {
            color: darken(@navColor, 55%);
            text-shadow: 0 1px 0 lighten(@navColor, 12%);
        }
    }
}

/* 
*
* Student Success Stories
*
*/

#maincontent {

    .soothing-wrapper {
        @color: #56b177;
        background-color: fadeout(@color, 90%);
        padding: 1em;
        border-radius: 3px;

        .button {
            background-color: darken(@color, 10%);
            .box-shadow(0, 3px, 0, fadeout(darken(@color, 30%), 25%));

            &:hover {
                background-color: darken(@color, 15%);
            }
        }
    }

    .creamy-wrapper {
        @color: #f7f6ed;
        background-color: @color;
        color: darken(@color, 60%);

        .ec-heading {
            color: darken(@color, 60%);
        }

        .grouped-header {
            line-height: 1;
            border-bottom: 1px solid darken(@color, 10%);

            .sub-task {
                font-size: 0.75em;
            }
        }
    }

    .cool-wrapper {
        @color: #a7cee5;
        background: fadeout(@color, 83%);

        .button {
            background-color: darken(@color, 40%);
            .box-shadow(0, 3px, 0, fadeout(darken(@color, 20%), 25%));

            &:hover {
                background-color: darken(@color, 45%);
            }
        }
    }

    .cool-list {
        @color: #a7cee5;

        ul {
            list-style: none;
            margin: 0;
            padding: 0.5em;
        }

        li {
            padding: 0.5em 5px;
            border-bottom: 1px solid lighten(@color, 15%);
        }
    }
}

/* 
*
* Advisers
*
*/

#maincontent {
    .faded-wrapper {
        @color: #f3f1e6;
        background: fadeout(@color, 55%);
        position: relative;
        z-index: 0;
    }

    #academic-advisers {

        h2 {
            font-size: 1.6em;
        }

        .ec-heading:not(.flag) {
            @color: #a7cee5;
            margin: 0;
            //background-color: fadeout(lighten(@color, 15%), 15%);
            .box-sizing(border-box);
            color: darken(@color, 75%);
            font-size: 1.2em;
            padding: 0.25em;

            span {
                font-size: 0.7em;
            }
        }

        .views-row {
            @color: #a7cee5;
            padding-bottom: 0.75em;
            margin-bottom: 0.75em;
            border-bottom: 1px solid lighten(@color, 10%);
            text-align: center;
        }

        .cool-wrapper {
            padding: 0.5rem 1rem 1rem; 
        }
    }
}

/* 
*
* Photo Frames
*
*/

#maincontent {


    .round-frame {
        .clear-fix();
        text-align: center;

        img {
            max-width: 100%;
            width: 100%;
            border-radius: 50%;
            .box-shadow(0, 0, 0, 3px, fadeout(#56b177, 55%));
            // Use box-shadow to get around iOS border radius bug
            line-height: 1;
        }

        figcaption {
            display: none;
        }

        &.cool {

            img {
                .box-shadow(0, 0, 0, 3px, fadeout(#c1d3b2, 55%));
            }
        }

        &.large {

            img {
                width: 80%;
                .box-shadow(0, 0, 0, 10px, fadeout(#56b177, 55%));
                margin: 10px;
            }
        }
    }

    .student-photo {
        .clear-fix();
        text-align: center;

        figcaption {
            display: none;
        }
    }

    .photo-wrapper {
        position: relative;

        .image-overlay {
            position: absolute;
            bottom: 5px;
            margin-bottom: 0;
        }
    }
}

/* 
*
* FAQ List
*
*/

#maincontent {

    .faq-list {

        .question {
            border-bottom: 2px dashed darken(#f3f1e6, 5%);
            font-size: 1.2em;
            font-weight: bold;
            text-transform: uppercase;
            display: block;
            .impactFont();
        }

        .answer {
            background-color: lighten(#f3f1e6, 5%);
            margin: 0.5em 1em;
            padding: 0.5em 0.5em 0.5em 2em;
            position: relative;

            &:before {
                content: "\2713";
                background-color: #a7cee5;
                position: absolute;
                left: 0;
                top: 1em;
                line-height: 1;
                padding: 0.25em;
                color: lighten(#f3f1e6, 5%);
            }
        }
    }
}

/* 
*
* Event List
*
*/

#maincontent {

    .date {
        width: 55px;
        float: left;
        text-transform: uppercase;
        line-height: 1;
        font-family: @impactFont;

        span {
            display: block;
        }

        .month, .start-time {
            font-size: 0.75em;
        }

        .day {
            font-size: 2.25em;
            font-weight: bold;
        }
    }

    .event-details {
        font-family: @impactFont;
        margin-top: 0.5em;

        * {
            display: block;
        }

        .location {
            margin-top: 0.5em;
        }
    }

    .location {
        color: #47881f;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 0.75em;
    }

    .event-listing {
        margin: 0.5em 0;
    }
}

/* 
*
* Compass Divider
*
*/

#maincontent {
    .compass {
        position: relative;
        padding: 1em 0 2em;
        &:after {
            content: '';
            background-image: url(images/compass.png);
            background-repeat: no-repeat;
            background-position: center;
            height: 75px;
            width: 100%;
            position: absolute;
            bottom: -38px;
        }

        + .view {
            padding-top: 2em;
        }
    }
}

#maincontent {

    .grid-layout { // layouts of boxes
        .clear-fix();

        * {
            .box-sizing(border-box);
        }

        .first {
            float: left;
            width: 35%;
        }

        .second {
            float: right;
            width: 60%;
        }
    }
}

// 480px wide
.bp1() {
    .bp1-decoration {
        display: block;
    }

    // Advanced grid adjustments
    .bp1-wdn-grid-set-halves > .wdn-col{
        &:nth-of-type(2n + 1) {
            clear: left;
        }
    }
}
 
// 768px wide
.bp2() {
    .bp2-decoration {
        display: block;
    }
    #maincontent {
        #academic-advisers {
            text-align: left;
        }

        .grid-layout { // layouts of boxes

            .first {
                float: none;
                width: auto;
            }

            .second {
                float: none;
                width: auto;
            }
        }
    }

    // Advanced grid adjustments
    .bp1-wdn-grid-set-halves > .wdn-col{
        &:nth-of-type(2n + 1) {
            clear: none;
        }
    }
}
 
// 960px wide
.bp3() {
    .bp3-decoration {
        display: block;
    }
    #maincontent {
        
        h3.ec-heading {

            &.small {
                font-size: 1.1em;
            }
        }
    }
    
    .event-listing {

        &:nth-child(2) {
            padding-right: 3em;
        }

        &:nth-child(3) {
            padding-left: 3em;
        }
    }
}
 
// 1040px wide
.bp4() {
    .bp4-decoration {
        display: block;
    }
}


// This is what's outputed in the media queries
@media only screen and (@bp1) {
    .bp1();
}
@media only screen and (@bp2) {
    .bp2();
}
@media only screen and (@bp3) {
    .bp3();
}
@media only screen and (@bp4) {
    .bp4();
}
 
// Output the media queries without the media queries for IE7 & IE8
ie7, .ie8 {
    .bp1();
    .bp2();
    .bp3();
    .bp4();
}
