/* This hides the #pagetitle for all users */
.front #pagetitle {
    display: none;
}

/* This will show the region for logged-in users in order to use the view/edit/revision tabs. */
.front.logged-in #pagetitle, .node-type-major-promo-collection #pagetitle {
    display: block;
    visibility: hidden;
}
#maincontent {
    z-index: 0;
    
    .wdn-band {
            margin-right: -4px;
            margin-left: -4px;
            padding-top: 4px;
            padding-bottom: 4px;
            .clear-fix();
    }

    .wdn-inner-wrapper {
        padding-right: 4px;
        padding-left: 4px;
    }
}

.bp2() {
    #maincontent {
        .wdn-band {
            margin-right: -9px;
            margin-left: -9px;
            padding-top: 9px;
            padding-bottom: 9px;
        }

        .wdn-inner-wrapper {
            padding-right: 9px;
            padding-left: 9px;
        }
    }
    .csscolumns &  {
        .wdn-two-flow-columns {
            .columns(2);

            &.wdn-flow-columns-avoid-break > li {
                width: 100%;
                -webkit-column-break-inside: avoid;
                -moz-column-break-inside: avoid;
                -o-column-break-inside: avoid;
                -ms-column-break-inside: avoid;
                column-break-inside: avoid;
                float: none;
            }
        }
    }

    .bp2-wdn-flexbox {
        display: -ms-flexbox;
        -ms-box-orient: horizontal;

        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: flex;
          
        -webkit-flex-flow: row wrap;
        -moz-flex-flow: row wrap;
        -ms-flex-flow: row wrap;
        flex-flow: row wrap;
    }
}

.bp4() {
    #maincontent {
        .wdn-band {
            margin-right: -12px;
            margin-left: -12px;
            padding-top: 12px;
            padding-bottom: 12px;
        }

        .wdn-inner-wrapper {
            padding-right: 12px;
            padding-left: 12px;
        }
    }
}

// This is what's outputed in the media queries
@media only screen and (@bp1) {
    .bp1();
}
@media only screen and (@bp2) {
    .bp2();
}
@media only screen and (@bp3) {
    .bp3();
}
@media only screen and (@bp4) {
    .bp4();
}
 
// Output the media queries without the media queries for IE7 & IE8
ie7, .ie8 {
    .bp1();
    .bp2();
    .bp3();
    .bp4();
}